# Node Environment
NODE_ENV=development
APP_DEBUG=true
LOG_LEVEL=debug
DEFAULT_PAGE_SIZE=10

# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=bmpl
DB_USER_PASSWORD=bmpl
DB_NAME=adminmlm
DB_PASSWORD=secret
DATABASE_URL="mysql://root:secret@db:3306/adminmlm"

# PMA settings (Docker)
PMA_PORT=8080

# Admin Service
ADMIN_PORT=3000
ADMIN_EMAIL=admin@example.com

# User Service
USER_PORT=3001
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d

# Secrets (Minimum 32 chars)
APP_SECRET="super-secret-at-least-32-chars-long-12345"
JWT_ACCESS_SECRET="this_is_an_access_secret_for_bmpl_mlm"
JWT_REFRESH_SECRET="this_is_a_refresh_secret_for_bmpl_mlm"

# OAuth2 Configuration (Optional)
ISSUER_BASE_URL="https://issuer.com"
AUDIENCE="default-audience"

# Email Configuration
CONSOLE_LOG_EMAILS=true
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=""
MAIL_PASSWORD=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# CORS
CORS_ORIGINS="https://mindvex.cloud,https://admin.mindvex.cloud"

# Frontend Vite Config (must start with VITE_)
VITE_ADMIN_API_URL="https://admin-api.mindvex.cloud"
VITE_USER_API_URL="https://user-api.mindvex.cloud"
VITE_USER_FRONTEND_URL="https://mindvex.cloud"
VITE_APP_ENV="production"

# Project Specific Business Configs
DELIVERY_CHARGE=0
TAX_PERCENTAGE=0
MIN_ORDER_AMOUNT=0
